.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 8%;
    left: 0;
    background-color: #1976d2;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar.open {
    height: 100%;
    width: 140px;
    position: fixed;
    top: 8%;
    left: 0;
    display: flex;
    flex-direction: column;
    background: white;
}

.background {
    filter: brightness(70%);
    background-color: #999999;
    opacity: 0.5;
    position: fixed;
    top: 8%;
    left: 140px;
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 30px;
    transition: 0.5s;
    text-align: left;
    padding-top: 60px;
    height: 100%;
}

.item {
    padding-left: 20px;
    min-height: 70px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0.15px;
    font-size: 20px;
    cursor: pointer;
}

.item:hover {
    width: 100%;
    filter: opacity(130%);
    color: white;
    background-color: #1976d2;

}

.nav a.active {


}

.close {
    position: fixed;
    top: 0;
    left: -30px;


}

.close img {
    border: none;
    position: fixed;
    margin-left: 14%;

}

.active {
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.sort {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 12px;
    color: white;
    background-color: #1976d2;
}

.label {
    margin-top: 5px;
}

label {
    font: 12px 'Fira Sans',
    sans-serif;
}

input {
    margin: 0.4rem;
}
